$secondary-color: #125688;
$background-color: #fafafa;

@import "node_modules/materialize-css/sass/materialize.scss";

body {
	background: $background-color;
	color: $secondary-color;
	font-family: 'Montserrat';
}

.landing {
	margin: 30px auto;
}

.iphone {
	max-width: 100%;
}

.site-footer {
	text-transform: uppercase;
	font-size: 12px;
}

.signup-box, .login-box {
	background-color: white;
	border: 1px solid #edeeee;
	border-radius: 3px;
	padding: 10px 0;
	text-align: center;
}

.platzigram {
	font-family: 'Oleo Script';
	font-size: 42px;
	color: $secondary-color !important;
}

.signup-form {
	width: 65%;
	margin: 0 auto;
}

.signup-form h2 {
	color: #a5a7aa;
	font-size: 1.2em;
}

.signup-form .btn.btn-fb {
	background-color: #4090db;
	font-size: .9em;
}

.signup-form .btn.btn-fb:hover {
	background-color: #2d6599;
}

.signup-form .btn.btn-signup {
	background-color: $secondary-color;
}

.header {
	background-color: white;
	secondary-color: $secondary-color;
	box-shadow: none;
	border-bottom: 1px solid #edeeee;
}

.timeline {
	padding: 30px 0;
}

.usertimeline {
	padding: 30px;

	.row {
		padding: 10px 0;
	}
}

.username {
	color: $secondary-color;
	font-size: 2rem;
}

$avatar-size: 48px;

.avatar {
	width: $avatar-size;
	height: $avatar-size;
	border-radius: 50%;
	float: left;
	margin-right: 12px;
}

.usertimeline .avatar {
	width: $avatar-size * 3;
	height: $avatar-size * 3;
	margin-left: 25%;
}

.card .username {
	font-size: 1.2rem;
}

.card small.time {
	line-height: $avatar-size;
}

.card p {
	padding: 20px 0;
}

.card .likes {
	line-height: 30px;
	margin-left: 12px;
}

.card .card-content i {
	font-size: 30px;
}

.card .card-content .fa-heart-o {
	color: $secondary-color;
}

.card .card-content .fa-heart {
	color: #f44336;
	display: none;
}

.card.liked {
	.fa-heart {
		display: block;
	}

	.fa-heart-o {
		display: none;
	}
}

.user-card {
	padding-bottom: 50%;

	div {
		display: none;
		position: absolute;
	    top: 0;
	    text-align: center;
	    padding-top: 50%;
	    height: 100%;
	    width: 100%;
	}

	&:hover div {
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.5);
		color: white;
		display: block;
	}
}

.form-upload {
	span, button {
		color: white;
	}

	.fileUpload {
		position: relative;
		overflow: hidden;
		margin: 10px;

		input {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			margin: 0;
			padding: 0;
			font-size: 20px;
			cursor: pointer;
			opacity: 0;
			filter: alpha(opacity=0);
		}
	}
}

//Spinner
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #0c3858;
  background: -moz-linear-gradient(left, #0c3858 10%, $secondary-color 42%);
  background: -webkit-linear-gradient(left, #0c3858 10%, $secondary-color 42%);
  background: -o-linear-gradient(left, #0c3858 10%, $secondary-color 42%);
  background: -ms-linear-gradient(left, #0c3858 10%, $secondary-color 42%);
  background: linear-gradient(to right, #0c3858 10%, $secondary-color 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #0c3858;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: $background-color;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}